[submodule "Git.tmbundle"]
	path = Git.tmbundle
	url = git://github.com/timcharper/git-tmbundle.git
[submodule "ShellScript.tmbundle"]
	path = ShellScript.tmbundle
	url = git://github.com/mkhl/shellscript.tmbundle.git
[submodule "Java.tmbundle"]
	path = Java.tmbundle
	url = git://github.com/alkemist/Java.tmbundle.git
